<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SpacesDisplayConfiguration</key>
	<dict>
		<key>Management Data</key>
		<dict>
			<key>Age</key>
			<real>8380.1847475833347</real>
			<key>Management Mode</key>
			<integer>1</integer>
			<key>Monitors</key>
			<array>
				<dict>
					<key>Current Space</key>
					<dict>
						<key>ManagedSpaceID</key>
						<integer>12</integer>
						<key>id64</key>
						<integer>12</integer>
						<key>type</key>
						<integer>0</integer>
						<key>uuid</key>
						<string>DC2AB207-6398-4B88-868F-66AEB6FC9EED</string>
					</dict>
					<key>Display Identifier</key>
					<string>Main</string>
					<key>Spaces</key>
					<array>
						<dict>
							<key>ManagedSpaceID</key>
							<integer>6</integer>
							<key>id64</key>
							<integer>6</integer>
							<key>type</key>
							<integer>0</integer>
							<key>uuid</key>
							<string>C29B83E2-435B-4526-AAAB-BCCFD2A24EB6</string>
						</dict>
						<dict>
							<key>ManagedSpaceID</key>
							<integer>7</integer>
							<key>id64</key>
							<integer>7</integer>
							<key>type</key>
							<integer>0</integer>
							<key>uuid</key>
							<string>FA26C3E2-4B1D-43C0-B250-BB41657B49EA</string>
						</dict>
						<dict>
							<key>ManagedSpaceID</key>
							<integer>9</integer>
							<key>id64</key>
							<integer>9</integer>
							<key>type</key>
							<integer>0</integer>
							<key>uuid</key>
							<string>F9F9BEB1-0297-4807-ACA1-0F86DE5D95A9</string>
						</dict>
						<dict>
							<key>ManagedSpaceID</key>
							<integer>8</integer>
							<key>id64</key>
							<integer>8</integer>
							<key>type</key>
							<integer>0</integer>
							<key>uuid</key>
							<string>94A70352-141F-49D7-B318-E63E98BC70C5</string>
						</dict>
						<dict>
							<key>ManagedSpaceID</key>
							<integer>24</integer>
							<key>id64</key>
							<integer>24</integer>
							<key>type</key>
							<integer>0</integer>
							<key>uuid</key>
							<string>07ADE773-2628-458F-9D4E-FDB426583280</string>
						</dict>
						<dict>
							<key>ManagedSpaceID</key>
							<integer>12</integer>
							<key>id64</key>
							<integer>12</integer>
							<key>type</key>
							<integer>0</integer>
							<key>uuid</key>
							<string>DC2AB207-6398-4B88-868F-66AEB6FC9EED</string>
						</dict>
						<dict>
							<key>ManagedSpaceID</key>
							<integer>13</integer>
							<key>id64</key>
							<integer>13</integer>
							<key>type</key>
							<integer>0</integer>
							<key>uuid</key>
							<string>C51D893E-45C1-4C8A-BABF-152A7A19B741</string>
						</dict>
						<dict>
							<key>ManagedSpaceID</key>
							<integer>15</integer>
							<key>id64</key>
							<integer>15</integer>
							<key>type</key>
							<integer>0</integer>
							<key>uuid</key>
							<string>DEC07019-1D0E-4FA0-93CE-92B342A4CA13</string>
						</dict>
						<dict>
							<key>ManagedSpaceID</key>
							<integer>11</integer>
							<key>id64</key>
							<integer>11</integer>
							<key>type</key>
							<integer>0</integer>
							<key>uuid</key>
							<string>8570DE8F-F73C-415E-8F77-CF592FAE294C</string>
						</dict>
						<dict>
							<key>ManagedSpaceID</key>
							<integer>10</integer>
							<key>id64</key>
							<integer>10</integer>
							<key>type</key>
							<integer>0</integer>
							<key>uuid</key>
							<string>38C22A86-3EA5-4E32-8A66-1A26C635E7DA</string>
						</dict>
						<dict>
							<key>ManagedSpaceID</key>
							<integer>14</integer>
							<key>id64</key>
							<integer>14</integer>
							<key>type</key>
							<integer>0</integer>
							<key>uuid</key>
							<string>10064AF7-904F-459C-B70A-9C10B0AA522A</string>
						</dict>
						<dict>
							<key>ManagedSpaceID</key>
							<integer>5</integer>
							<key>id64</key>
							<integer>5</integer>
							<key>type</key>
							<integer>0</integer>
							<key>uuid</key>
							<string>150D3CEF-1EE9-4015-92B2-2ECC982DC0D3</string>
						</dict>
						<dict>
							<key>ManagedSpaceID</key>
							<integer>16</integer>
							<key>id64</key>
							<integer>16</integer>
							<key>type</key>
							<integer>0</integer>
							<key>uuid</key>
							<string>ACD7A1A8-E1C1-4EAD-8BC9-FA9CDC2B6F54</string>
						</dict>
						<dict>
							<key>ManagedSpaceID</key>
							<integer>19</integer>
							<key>id64</key>
							<integer>19</integer>
							<key>type</key>
							<integer>0</integer>
							<key>uuid</key>
							<string>83263FB2-3F43-4A81-A16C-62CC3CDCEE81</string>
						</dict>
						<dict>
							<key>ManagedSpaceID</key>
							<integer>37</integer>
							<key>TileLayoutManager</key>
							<dict>
								<key>Age</key>
								<real>111828.42593983335</real>
								<key>ConfigAge</key>
								<real>111828.4253577917</real>
								<key>Inter-Tile Spacing</key>
								<dict>
									<key>Height</key>
									<real>12</real>
									<key>Width</key>
									<real>12</real>
								</dict>
								<key>Layout Rect</key>
								<dict>
									<key>Height</key>
									<real>1117</real>
									<key>Width</key>
									<real>1728</real>
									<key>X</key>
									<real>0.0</real>
									<key>Y</key>
									<real>0.0</real>
								</dict>
								<key>Max Tile Config</key>
								<dict>
									<key>Height</key>
									<real>1</real>
									<key>Width</key>
									<real>2</real>
								</dict>
								<key>PreferredLayout</key>
								<array>
									<dict>
										<key>DisplaySize</key>
										<dict>
											<key>Height</key>
											<real>1117</real>
											<key>Width</key>
											<real>1728</real>
										</dict>
										<key>FirstTileSize</key>
										<dict>
											<key>Height</key>
											<real>1117</real>
											<key>Width</key>
											<real>1728</real>
										</dict>
									</dict>
									<dict>
										<key>DisplaySize</key>
										<dict>
											<key>Height</key>
											<real>1080</real>
											<key>Width</key>
											<real>1920</real>
										</dict>
										<key>FirstTileSize</key>
										<dict>
											<key>Height</key>
											<real>1080</real>
											<key>Width</key>
											<real>1920</real>
										</dict>
									</dict>
									<dict>
										<key>DisplaySize</key>
										<dict>
											<key>Height</key>
											<real>1440</real>
											<key>Width</key>
											<real>2560</real>
										</dict>
										<key>FirstTileSize</key>
										<dict>
											<key>Height</key>
											<real>1440</real>
											<key>Width</key>
											<real>2560</real>
										</dict>
									</dict>
								</array>
								<key>ReservedArea</key>
								<dict>
									<key>Bottom</key>
									<real>0.0</real>
									<key>Left</key>
									<real>0.0</real>
									<key>Right</key>
									<real>0.0</real>
									<key>Top</key>
									<real>0.0</real>
								</dict>
								<key>TileSpaces</key>
								<array>
									<dict>
										<key>ManagedSpaceID</key>
										<integer>37</integer>
										<key>SizeConstraints</key>
										<dict>
											<key>Max</key>
											<dict>
												<key>Height</key>
												<real>100000</real>
												<key>Width</key>
												<real>100000</real>
											</dict>
											<key>Min</key>
											<dict>
												<key>Height</key>
												<real>610</real>
												<key>Width</key>
												<real>800</real>
											</dict>
											<key>Preferred</key>
											<dict>
												<key>Height</key>
												<real>1079</real>
												<key>Width</key>
												<real>1728</real>
											</dict>
										</dict>
										<key>TileLimitedClipping</key>
										<true/>
										<key>TileRect</key>
										<dict>
											<key>Height</key>
											<real>1117</real>
											<key>Width</key>
											<real>1728</real>
											<key>X</key>
											<real>0.0</real>
											<key>Y</key>
											<real>0.0</real>
										</dict>
										<key>TileType</key>
										<string>Primary</string>
										<key>TileWindowID</key>
										<integer>186</integer>
										<key>appName</key>
										<string>Spotify</string>
										<key>com.apple.appkit.disablemcexit</key>
										<false/>
										<key>fromSpace</key>
										<string>150D3CEF-1EE9-4015-92B2-2ECC982DC0D3</string>
										<key>fs_wid</key>
										<integer>186</integer>
										<key>id64</key>
										<integer>39</integer>
										<key>name</key>
										<string>Spotify Premium</string>
										<key>pid</key>
										<integer>525</integer>
										<key>type</key>
										<integer>5</integer>
										<key>uuid</key>
										<string>A264C10B-1CCA-46CE-99E2-B85F16F98448</string>
									</dict>
								</array>
							</dict>
							<key>WallSpace</key>
							<dict>
								<key>ManagedSpaceID</key>
								<integer>37</integer>
								<key>id64</key>
								<integer>38</integer>
								<key>type</key>
								<integer>6</integer>
								<key>uuid</key>
								<string>A8D1BBDD-66CB-4E77-982F-ABB85C0C87B6</string>
							</dict>
							<key>fs_wid</key>
							<integer>186</integer>
							<key>id64</key>
							<integer>37</integer>
							<key>pid</key>
							<integer>525</integer>
							<key>type</key>
							<integer>4</integer>
							<key>uuid</key>
							<string>4AD7DC96-EEA1-4A55-8AE2-C05FC95FC566</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Collapsed Space</key>
					<dict>
						<key>ManagedSpaceID</key>
						<integer>390</integer>
						<key>id64</key>
						<integer>390</integer>
						<key>type</key>
						<integer>0</integer>
						<key>uuid</key>
						<string>38C8655E-73CE-422E-AE33-E7B96268EAE6</string>
					</dict>
					<key>Current Space</key>
					<dict>
						<key>ManagedSpaceID</key>
						<integer>26</integer>
						<key>id64</key>
						<integer>26</integer>
						<key>type</key>
						<integer>0</integer>
						<key>uuid</key>
						<string>6D14BFDF-4897-41E2-9FDE-6FE4BBA785B4</string>
					</dict>
					<key>Display Identifier</key>
					<string>A75E97B9-F576-45F4-B4D1-E67ED524E76E</string>
					<key>Spaces</key>
					<array>
						<dict>
							<key>ManagedSpaceID</key>
							<integer>26</integer>
							<key>id64</key>
							<integer>26</integer>
							<key>type</key>
							<integer>0</integer>
							<key>uuid</key>
							<string>6D14BFDF-4897-41E2-9FDE-6FE4BBA785B4</string>
						</dict>
						<dict>
							<key>ManagedSpaceID</key>
							<integer>27</integer>
							<key>id64</key>
							<integer>27</integer>
							<key>type</key>
							<integer>0</integer>
							<key>uuid</key>
							<string>951C832C-A39B-40D9-86B9-F37B79180E2F</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Collapsed Space</key>
					<dict>
						<key>ManagedSpaceID</key>
						<integer>348</integer>
						<key>id64</key>
						<integer>348</integer>
						<key>type</key>
						<integer>0</integer>
						<key>uuid</key>
						<string>CA57F625-BBCB-4325-B292-2EB39AFB8969</string>
					</dict>
					<key>Display Identifier</key>
					<string>36BBAF6C-BB5B-4D35-8489-1026A1E836AF</string>
				</dict>
			</array>
			<key>Primary</key>
			<dict>
				<key>CreatedCount</key>
				<integer>0</integer>
				<key>DeletedCount</key>
				<integer>0</integer>
				<key>LifetimeEntryCount</key>
				<integer>0</integer>
				<key>LifetimeMax</key>
				<real>0.0</real>
				<key>LifetimeMin</key>
				<real>0.0</real>
				<key>LifetimeSum</key>
				<real>0.0</real>
				<key>PersistedCount</key>
				<integer>1</integer>
			</dict>
			<key>Secondary</key>
			<dict>
				<key>CreatedCount</key>
				<integer>0</integer>
				<key>DeletedCount</key>
				<integer>0</integer>
				<key>LifetimeEntryCount</key>
				<integer>0</integer>
				<key>LifetimeMax</key>
				<real>0.0</real>
				<key>LifetimeMin</key>
				<real>0.0</real>
				<key>LifetimeSum</key>
				<real>0.0</real>
				<key>PersistedCount</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>Space Properties</key>
		<array>
			<dict>
				<key>name</key>
				<string>150D3CEF-1EE9-4015-92B2-2ECC982DC0D3</string>
				<key>windows</key>
				<array>
					<integer>34953</integer>
					<integer>25</integer>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>C29B83E2-435B-4526-AAAB-BCCFD2A24EB6</string>
				<key>windows</key>
				<array>
					<integer>34953</integer>
					<integer>3163</integer>
					<integer>26</integer>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>FA26C3E2-4B1D-43C0-B250-BB41657B49EA</string>
				<key>windows</key>
				<array>
					<integer>34953</integer>
					<integer>7600</integer>
					<integer>27</integer>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>94A70352-141F-49D7-B318-E63E98BC70C5</string>
				<key>windows</key>
				<array>
					<integer>34953</integer>
					<integer>4797</integer>
					<integer>28</integer>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>F9F9BEB1-0297-4807-ACA1-0F86DE5D95A9</string>
				<key>windows</key>
				<array>
					<integer>34953</integer>
					<integer>3240</integer>
					<integer>29</integer>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>38C22A86-3EA5-4E32-8A66-1A26C635E7DA</string>
				<key>windows</key>
				<array>
					<integer>34953</integer>
					<integer>30</integer>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>8570DE8F-F73C-415E-8F77-CF592FAE294C</string>
				<key>windows</key>
				<array>
					<integer>34953</integer>
					<integer>31</integer>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>DC2AB207-6398-4B88-868F-66AEB6FC9EED</string>
				<key>windows</key>
				<array>
					<integer>38751</integer>
					<integer>34953</integer>
					<integer>32</integer>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>C51D893E-45C1-4C8A-BABF-152A7A19B741</string>
				<key>windows</key>
				<array>
					<integer>34953</integer>
					<integer>36742</integer>
					<integer>33</integer>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>10064AF7-904F-459C-B70A-9C10B0AA522A</string>
				<key>windows</key>
				<array>
					<integer>34953</integer>
					<integer>496</integer>
					<integer>34</integer>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>DEC07019-1D0E-4FA0-93CE-92B342A4CA13</string>
				<key>windows</key>
				<array>
					<integer>34953</integer>
					<integer>38539</integer>
					<integer>35</integer>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>ACD7A1A8-E1C1-4EAD-8BC9-FA9CDC2B6F54</string>
				<key>windows</key>
				<array>
					<integer>34953</integer>
					<integer>36</integer>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>83263FB2-3F43-4A81-A16C-62CC3CDCEE81</string>
				<key>windows</key>
				<array>
					<integer>34953</integer>
					<integer>39</integer>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>07ADE773-2628-458F-9D4E-FDB426583280</string>
				<key>windows</key>
				<array>
					<integer>34953</integer>
					<integer>38757</integer>
					<integer>38753</integer>
					<integer>46</integer>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>6D14BFDF-4897-41E2-9FDE-6FE4BBA785B4</string>
				<key>windows</key>
				<array>
					<integer>34953</integer>
					<integer>43</integer>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>951C832C-A39B-40D9-86B9-F37B79180E2F</string>
				<key>windows</key>
				<array>
					<integer>34953</integer>
					<integer>44</integer>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>4AD7DC96-EEA1-4A55-8AE2-C05FC95FC566</string>
				<key>windows</key>
				<array>
					<integer>23211</integer>
					<integer>188</integer>
					<integer>186</integer>
					<integer>190</integer>
				</array>
			</dict>
		</array>
	</dict>
	<key>spans-displays</key>
	<false/>
</dict>
</plist>
